<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings><category label="Infinity Account Manager Repair">
<setting type="action" label="Apply Trakt Sync Repair" action="RunScript(script.infinity.acctmgrrepair,action=apply)"/>
<setting type="action" label="Rollback Repair" action="RunScript(script.infinity.acctmgrrepair,action=rollback)"/>
</category></settings>